<% if item = @turing_machine %>

<input type="text" class="hide" value="<%= item.default_input -%>" id="tm-default-input"/>
<input type="text" class="hide" value="<%= item.definition -%>" id="tm-definition"/>
<input type="text" class="hide" value="<%= item.short_url -%>" id="tm-short-url"/>

<% end %>

<div class="modal-header">
	<% if item and @is_owner %>
	<%= link_to 'Edit', edit_turing_machine_path(item), :class => "pull-right btn btn-success" %>
	<% end %>
	<% if not item %>
	<a class="close" data-dismiss="modal">×</a>
	<% end %>
	<h3><%= item.name if item %></h3>
</div>

<div class="modal-body">
<div class="modal-inner">
	<blockquote>
		<p><%= item.description if item %></p>
		<small>
			<% if item %>
			Created by <%= item.user ? (link_to item.user.name, :controller => 'index', :action => 'home', :user_name => item.user.name ) : 'unknown' %> at <%= item.created_at.to_s(:short) %>.
			<% end %>
		</small>
	</blockquote>
</div>
<div class="modal-inner hide">
<div class="progress progress-success progress-striped active">
  <div class="bar" style="width: 100%;"></div>
</div>
</div>
<div class="modal-inner">
	<span class="badge badge-success pull-right">Favorited by <%= pluralize item.users_count, 'Person' if item %></span>
	<span class="badge badge-success">State <span id="tm-state"></span></span>
	<div id="tm-tape">
		<div class="wrap">
			<div>...</div>
		</div>
		<div class="wrap active">
			<div></div>
		</div>
	    <div class="wrap">
			<div>...</div>
		</div>
	</div>
</div>	
<div class="modal-inner">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#tm-show-rule-table">
				More
			</a>
		</div>
		<div id="tm-show-rule-table" class="accordion-body collapse">
			<div class="accordion-inner">
				<table class="table" id="tm-show-table">
					<tbody>
						<tr>
							<th>Set Input and Reset State</th>
						</tr>
						<tr>
							<td>
								<div class='form-inline'>
									<div class="control-group">
										<input type='text' id="tm-input-set" />
										<button class="btn" id="tm-control-set">Set Input</button>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th>Shortcut</th>
						</tr>
						<tr>
							<td><p><code></code></p></td>
						</tr>
						<tr>
							<th>Table of Rules</th>
						</tr>
						<tr>
							<td>
								<ul class="btn-group nav-pills">
									<li class="dropdown btn btn-primary btn-mini chosen">
										<a data-toggle="dropdown">0</a>
									</li>
								</ul>
							</td>
						</tr>
						<tr class="hide">
							<td>
								<ul class="btn-group">
									<li class="dropdown btn btn-primary btn-mini chosen">
										<a data-toggle="dropdown">1</a>
									</li>
									<li class="dropdown btn btn-primary btn-mini chosen">
										<a data-toggle="dropdown">2</a>
									</li>
									<li class="dropdown btn btn-primary btn-mini chosen">
										<a data-toggle="dropdown">3</a>
									</li>
									<li class="dropdown btn btn-primary btn-mini chosen">
										<a data-toggle="dropdown">4</a>
									</li>
									<li class="dropdown btn btn-primary btn-mini chosen">
										<a data-toggle="dropdown">5</a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>		  
			</div>
		</div>
	</div>
</div>

</div>

<div class="modal-footer">
	<div class="btn-group">
	<% case @favorited %>
	<% when true %>
	<%= link_to 'Favorited', unfavorite_turing_machine_path(item), :class=>"btn btn-warning", :id=>"tm-favorite" %>
	<% when false %>
	<% if item %>
	<%= link_to 'Favorite', favorite_turing_machine_path(item), :class=>"btn btn-success", :id=>"tm-favorite" %>
	<% else %>
	<a href="#" class="btn btn-success" id="tm-favorite">Favorite</a>
	<% end %>
	<% else %>
	<a href="#" class="btn btn-success disabled" id="tm-favorite" rel="tooltip" title="signup to favorite">Favorite</a>
	<% end %>
	</div>
	<div class="btn-group" id="tm-control">
		<button class="btn btn-primary tm-control-btn" id="tm-control-pause">Pause</button>
		<button class="btn btn-primary tm-control-btn" id="tm-control-play">Play</button>
		<button class="btn btn-primary tm-control-btn" id="tm-control-fast">Fast</button>
		<button class="btn btn-primary tm-control-btn" id="tm-control-reset">Reset</button>
	</div>
</div>
